@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
}

H1{
    font-weight: 700;
    margin-bottom: 1rem;
}

H2{
    font-weight: 600;
}

IMG{
    width: 100%;
}